@charset "utf-8";
/* CSS Document */

h1{
	color: white;
	text-shadow: 1px 1px 4px black; 
	text-align: center;
	
}

body {
	background-color:#B1B1B1;
	
}




.container { text-align: center;
    width: 50%;
	
    padding: 0px;
    
}




.left-element {
	border-radius: 2px;
	margin: 10px;
	width: 300px;
	height: 150px;
    background:#FFFFFF;
    display: inline-block;
	transition: border-radius 0.3s linear;
	 box-shadow: 0px 0px 2px black;
    
   
}

.right-element {
	border-radius: 2px;
	margin: 10px;
	width: 300px;
	height: 150px;
    background:#FFFFFF;
    display: inline-block;
    right: 80px;
	transition: border-radius 0.3s linear;
	 box-shadow: 0px 0px 2px black;
	
}

.left-element:hover{
	background:#F05CE6;
	border-radius: 25px;
	box-shadow: 0px 0px 10px black;
	
}

.right-element:hover{
	border-radius: 25px;
	background:#F05CE6;
	box-shadow: 0px 0px 10px black;
}


.imgg {
	margin-top: 23px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.imgg:hover {
    transform: scale(1.3); 
   }

.iconn{
	color:#FF4700;
}


p:before{
	
	font-family: "fas fa-search";
}

ul{
	list-style: none;
	left: 0;
}

.task2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    
}

.list {
    position: relative;
	list-style: none;
	color: #D76F00;
}



.list ul li::after {
    position: absolute;
    left: 0;
    font-family: FontAwesome;
}

.list ul li:nth-child(1)::after {
    content: "\f002";
}

.list ul li:nth-child(2)::after {
    content: "\f27a";
}

.list ul li:nth-child(3)::after {
    content: "\f004";
}

.list ul li:nth-child(4)::after {
    content: "\f055";
}

.list ul li:nth-child(5)::after {
    content: "\f056";
}

.list ul li:nth-child(6)::after {
    content: "\f057";
}

.labell {
    border-left: 4px solid #2286EC;
    padding: 15px 20px;
    font-family: FontAwesome;
    background-color: #F6E6AD;
}

.labell label::before {
    content: "\f100";
    color:  #D76F00;
}

.labell label::after {
    content: "\f101";
    color:  #D76F00;
}


table {
    width: 350px;
	margin: auto;
	border: 1px solid grey;
	font-size: 24px;
}

tr th {
    border: 1px solid grey;
    padding: 5px;
    background-color: grey;
    text-align: left;
}

tr td {
    border: 1px solid grey;
    padding: 5px;
}

tr td:nth-child(odd) {
    font-weight: bold;
    background-color: lightgrey;
}

tr td:nth-child(even) {
    text-align: right;
}
